<div class="container">
  <div class="col-md-12">
    <%= form_for(@user, url: user_session_path , html:{class: "form-signin"}, method: "post") do |f|%>
      <div class="col-md-12">
      <h2 class="form-signin-heading">XX系统</h2>
      </div>

      <div class="col-md-12">
        <label for="inputEmail" class="sr-only">帐号</label>
        <%=f.text_field :email ,class:"form-control", placeholder:"邮箱", required: "required"%>
      </div>

      <div class="col-md-12">
        <label for="inputPassword" class="sr-only">密码</label>
        <%=f.password_field :password ,class:"form-control", placeholder:"密码", required: "required"%>
      </div>

      <div class="col-md-6">
                <!--data-confirm="are you sure?" -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">登录</button>
      </div>
      <div class="col-md-6">
        <%=link_to '注册', "/users/sign_up", class:'btn btn-lg btn-primary btn-block'%>
      </div>
    <%end %>
  </div>
</div>

<script>
  <%= content_for :js_in_footer do%>
    <%= javascript_tag do %>
      $("#login").on("click", function(e){
        e.preventDefault(); // 移除掉原生的submit处理
        var _form = $("form")
        var url =  $(_form).parent().attr("action")
        var submit = $(_form).find("[type=submit]")
        if(!$(_form).valid()){
          return;
        }
        submit.attr("disabled", true) //防止重复提交

        $.ajax({
          url: url,
          type: "post",
          data: {'user[email]': $("#user_email").val() , 'user[password]': $("#user_password").val()},
          dataType: "json",
          success: function(data){
            if(data.code == 0){
              handleMessage("登录成功!")
              location.href = data.url
            }else{
              handleMessage(data.msg)
            }
          },
          error: function(e){
            console.log(e)
            handleMessage(e.responseJSON.error)
          },
          complete: function(){
            submit.removeAttr("disabled")
          }
        })
      });
    <%end%>
  <%end%>
</script>
