<!DOCTYPE html>
<html>
<head>
  <title>DemoPayments</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if content_for?(:content_in_header)%>
    <%= yield(:content_in_head) %>
  <%end %>
</head>
<body>
<%= render 'shared/navbar' %>
<%= render 'shared/flash_area' %>
<%= yield %>
<% if content_for?(:js_in_footer)%>
  <%= yield(:js_in_footer) %>
<%end %>
</body>
</html>
